<html> 
    <head>
            <title>STREAMING VIA WEBRTC</title>
    </head>

    <body>
        <h1>VŨ THIỆN ÂN</h1>
        <video width="300" id="localStream" controls></video>
        <br>
        <video width="300" id="friendStream" controls></video>
        <br><br/>
        <input type="text" placeholder="your friend's peer id" id="txtFiendId">
        <button id="btnCall">Call</button>
        <h3 id="peer-id">My id is:</h3>
    </body>
   <script src="bundle.js"></script>
</html>