<html> 
    <head>
            <title>STREAMING VIA WEBRTC</title>
    </head>

    <body>
        <h1>VŨ THIỆN ÂN</h1>
        <video width="300" id="localStream" controls></video>

        <br><br/>
        <label>My Connection Token</label>
        <textarea rows="3" cols="100" id="txtMySignal"></textarea>
    </body>
   <script src="bundle.js"></script>
</html>